:host {
}

header {
  @apply text-right;
}

a {
  @apply cursor-pointer text-blue-600;
  &:hover {
    @apply text-blue-700;
  }
}

pre {
  @apply whitespace-pre-wrap p-2;
}

.wrapper {
  max-width: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.body {
  @apply flex bg-white max-w-screen-lg;
  width: 90vw;
  height: 80vh;
}

.left {
  width: 40%;
  max-width: 360px;
  border-right: 1px solid #ddd;
  overflow: auto;
  ul {
    @apply m-0 p-0;
  }
  li {
    @apply list-none rounded px-1;
    &.active {
      @apply bg-blue-200;
    }
  }
}

.right {
  @apply flex-1 overflow-auto;
}
